form{
    font-size :20px;
    padding:20px;
    margin-left:380px;
    margin-right:380px;
    background-color:rgb(237,232,208);
    border-radius:8px;
    
}
form input{
    padding:4px;
}
form label{
    padding-right:20px;
}

.submit{
    text-align:center;
}