form{
    font-size :20px;
    padding:25px;
    margin-left:380px;
    margin-right:380px;
    background-color:rgb(237,232,208);
    border-radius:8px;
    
}


form label{
    display:inline-block;
    padding-right:30px;
    padding-bottom:25px;
}
form input{
    display:inline-block;
    height:25px;
    font-size:13px;
}

textarea{
    display:inline-block;
    margin-bottom:50px;
}
.submit{
    display:inline-block;
    margin-left:130px;
    margin-right:25px;
    background-color:Yellow;
        
}

.clear{
    background-color:green;
    color:white;
}



