form{
    font-size :x-large;
    padding:20px;
    margin-left:380px;
    margin-right:380px;
    background-color:yellow;
    
}
form input{
    padding:4px;
}
form label{
    padding-right:20px;
}

.submit{
    text-align:center;
}