table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}


table tr td{
width: 150px;
padding-left:1% ;
padding-right:1% ;
padding-top: 2%;
padding-bottom: 2%;

margin:50px 40px auto auto;
text-align: center ;


}
.heading1{
color: orangered;
 text-align: center;
 padding-bottom: 2px;
}

#h2{
color:black;
}

.aec{
background-color: green;

}
.aec:hover{
    transform:scale(1.2);
}

.ge{
background-color: aqua;
}

.ge:hover{
    transform:scale(1.2);
   }

.sec{
background-color: yellow;
}

.sec:hover{
    transform:scale(1.2);
}

.vac{
background-color: beige;
}

.vac:hover{
 transform:scale(1.2);
}